
.body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding-bottom: 48px;
    background-color: #350a46;
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 8px 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FaF8;
}

.links {
    margin-left: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
}

a, #herotext {
    font-size: 20px;
    color: #E5E7EB;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.hero {
    padding: 16px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

title {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9F1F8;
}

#herotext {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

#picture {
    margin-left: 16px;
    text-align: center;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture img {
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 300px;
    height: auto;
    object-fit: contain;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    padding: 0 312px;
}

h2 {
    margin: 20px;
    padding: 20px;
    font-size: 36px;
}

h3 {
    margin: 6px;
    padding: 20px;
    font-size: 24px;
    font-weight: extra-bold;
    text-align: center;
    color: #1F2937;
}

.projects {
    padding: 8px;
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.name {
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#websites img,
#webpages img,
#wordpress img {
    padding: 0;
    max-width: 150px;
}

#museum {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#museum img {
    max-width: 200px;
}

#prototype {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#driver,
#art {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#driver img {
    max-width: 200px;
}

#mobile,
#models {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#web,
#pixel {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#models img {
    max-width: 500px;
}

#pixel img {
    max-width: 250px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.caption {
    margin: 0;
    padding: 8px;
    width: 145px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.action {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    background-color: #3882F6;
    color: #F9F1F8;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

h4 {
    margin: 6px;
    font-size: 20px;
}

#contacttitle {
    text-align: center;
}

.label {
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.footer {
    padding: 12px 0;
    color: #F9F1F8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
