
.body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1F2937;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 288px;
    flex-wrap: wrap;
}

#logo {
    font-size: 24px;
    color: #F9FaF8;
    margin-right: auto;
}

.links {
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, #herotext {
    font-size: 18px;
    color: #E5E7EB;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 300px;
    gap: 24px;
}

title {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9F1F8;
    margin: 0;
    padding: 0;
}

#herotext {
    margin: 0;
    padding: 0;
}

#picture {
    color: #F9F1F8;
    background-color: #555557;
    width: 500px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    min-width: 300px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    padding: 0 312px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 48px;
    gap: 48px;
    flex-wrap: wrap;
}

.item {
    width:165px;
    text-align: center;
}

.blank {
    width: 165px;
    height: 165px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin: 0;
}

.name {

}

.caption {
    width: 145px;
    margin: 0;
    padding: 8px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.action {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    background-color: #3882F6;
    color: #F9F1F8;
    margin: 0;
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 12px 120px;
}

.user {

}

.label {

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.footer {
    color: #F9F1F8;
    padding: 12px 0;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
