
.body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    padding-bottom: 48px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.nav {
    padding: 8px 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FaF8;
}

.links {
    margin-left: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, #herotext {
    font-size: 18px;
    color: #E5E7EB;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.hero {
    padding: 16px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

title {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9F1F8;
}

#herotext {
    margin: 0;
    padding: 0;
}

#picture {
    margin-left: 16px;
    text-align: center;
    color: #F9F1F8;
    background-color: #555557;
    width: 500px;
    height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    padding: 0 312px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
    font-weight: extra-bold;
    text-align: center;
    color: #1F2937;
}

.projects {
    margin-bottom: 48px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    gap: 48px;
    flex-wrap: wrap;
}

#websites {

}

#webpages {

}

#wordpress {

}

#museum {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#prototype {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#wireframe {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#driver {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#mobile {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#web {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#stories {
    display: flex;
    flex-direction: row;
    gap: 48px;
    flex-wrap: wrap;
}

#models {

}

#pixel {

}

.item {
    text-align: center;
    width:165px;
}

.blank {
    margin: 0;
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 165px;
    height: 165px;
}

.name {

}

.caption {
    margin: 0;
    padding: 8px;
    width: 145px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.action {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    margin: 0;
    padding: 0 30px;
    font-size: 18px;
    background-color: #3882F6;
    color: #F9F1F8;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

h4 {
    font-size: 20px;
}

#contacttitle {
    text-align: center;
}

.label {
    font-weight: bold;
}

.label {

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.footer {
    padding: 12px 0;
    color: #F9F1F8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
